.block {
  background-color: #eeeeee;
  border: 1px gray solid;
  display: flex;
  flex-direction: column;
  margin: 24px 48px;
  padding: 24px;
  font-size: $fz-small;

  &--mining {
    background-image: url('https://i.giphy.com/media/l3q2XB76CaWPggiNW/source.gif');
    background-size: cover;
    color: white;
  }

  &--mined {
    background-color: #e9ffd552;
  }

  &-heading {
    font-size: $fz-large;
    margin: 0;
    text-align: left;
  }

  label {
    cursor: pointer;
  }

  &-label {
    &Column {
      padding: 4px 0;
      vertical-align: top;
      width: 20%;
    }

    &Data {
      padding: 4px 0;
      vertical-align: top;
      width: 80%;
    }
  }

  &-data {
    min-height: 150px;
    padding: 8px;
    width: 100%;
  }

  &-disabledData {
    border: none;
    background-color: transparent;
  }

  &-button {
    cursor: pointer;
    background-color: #69b3ff;
    font-weight: bold;
    padding: 12px;
    margin-top: 16px;
    max-width: 250px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: lighten($color: #69b3ff, $amount: 3);
    }
  }
}
