// colors
$c-primary: #ff9900;
$c-accent: #69b3ff;
$c-bg-color: #e9ffd552;
$c-bg-color-block: #eeeeee;
$text-color: #444444;

// font family
$text-font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// font sizes
$fz-base: 16px;
$fz-small: $fz-base * 0.9;
$fz-medium: $fz-base * 1.2;
$fz-large: $fz-base * 1.5;
$fz-extralarge: $fz-base * 2.5;

// margin sizes
$m-xs: 4px;
$m-s: 8px;
$m-m: 12px;
$m-l: 16px;
$m-xl: 24px;

// padding sizes
$p-xs: 4px;
$p-s: 8px;
$p-m: 12px;
$p-l: 16px;
$p-xl: 24px;

// mediaqueries
$mq-medium: 480px;
