.homePage {
  &-Header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 $p-xl;

    @media screen and (min-width: $mq-medium) {
      padding: 0 $p-xl * 2;
    }

    &Title {
      color: white;
      font-size: $fz-small;
      font-weight: lighter;
      margin: 0;
      padding: $p-s;
    }

    &Author {
      font-size: $fz-small;
      color: $c-accent;
      font-weight: bold;
      margin: 0;
      padding: $p-s;
      text-decoration: none;
      &:hover {
        color: lighten($c-accent, 10%);
      }
    }
  }
}
