.btcCurrentPrice {
  background: $c-primary;
  border-bottom: 1px solid darken($c-primary, 10%);
  border-top: 1px solid darken($c-primary, 10%);
  color: white;
  display: flex;
  padding: 8px 48px;
  text-align: right;
}
